<div class="main-container">
	<form class="form-auth" ng-submit="register()">
		<h2 class="heading"> <button class="register-arrow" ng-click="goToLogin()"> <i class="fa fa-arrow-left"></i> </button>
			 Register</h2>
		<p class="text-warning">{{error_message}}</p>
		<label for="">E-mail</label>
		<input type="email" ng-model="user.email" class="form-control" required><br>
		<label for="">Username</label>
		<input type="username" ng-model="user.username" class="form-control" required><br>
		<label for="">Password</label>
		<input type="password" ng-model="user.password" class="form-control" required><br>
		<input type="submit" value="Sign Up" class="btn btn-primary submit-btn" />
	</form>
</div>