body{
        padding-top: 0px !important;
        background-color: #eee !important;
}

.main-container{
        position: absolute;
        top: 21%;
        left: 40%;
        width: 23%;
        height: 61%;
        padding: 10px;
        color: white;
        font-size: 13px;
        background-color: rgba(0, 0, 0, 0.8);
}

.register-link{
        color: white !important;
        float: left;
        font-size: 20px;
}

.register-link:hover{
        color: white !important;
}

.heading{
        text-align: center;
        text-transform: capitalize;
}

.first-word{
        color: white;
}

.second-word{
        color: orange;
}

.login-hr{
        background-color: orange;
}

.login-links{
        color: white;
        margin-right: 15px;
        margin-bottom: 5px;
        font-size: 16px;
}

.login-links:hover{
        color: white !important;
}

.active-l{
        text-decoration: underline;
        text-decoration-color: orange;
}

label{
        color: gray;
}

.submit-btn{
        width: 100%;
        background-color: orange !important;
        font-size: 16px !important;
        border: 0 !important;
}


/* Ask page nav */
.custom-nav{
        height: 50px !important;
        border-radius: 0px !important;
}
    
.nav-img{
        width: 37px;
        height: 37px;
}
    
.username-drop{
        color: lightgray !important;
        background-color: transparent !important;
        border-color: transparent !important;
        padding: 0px !important;
        margin-left: 5px;
        font-size: 12px !important;
}

/* Question box */
.question-box{
        padding: 20px;
        margin: 12px;
        font-size: 14px !important;
        border: 1px solid lightgray;
        background-color: white;
}

.submit-question-btn{
        background-color: orange !important;
        font-size: 14px !important;
        float: right;
        border: 0px !important;
        margin-top: 5px;
        margin-bottom: 5px;
}

input, textarea{
        max-width: 1500px !important;
}

.list{
        font-size: 13px !important;
        border: 1px solid lightgray;
        margin: 30px 15px;
        background-color: white;
}

.list-ul{
        list-style: none;
        padding: 10px 30px;
}

.btn-load{
        text-align: center;
}

.loadMore-btn{
        color: black !important;
        border: 1px solid orange !important;
        border-radius: 20px !important;
        background-color: white !important;
        font-size: 13px !important;
        margin-bottom: 10px;
}

.time{
        color: gray;
        float: right;
}

.askbtn{
        float: right;
        color: white;
        background-color: orange;
        margin-top: 5px;
        box-shadow: 0px;
        border: 0px;
}

.login-nav{
        color: white !important;
        font-size: 14px !important;
}

.register-arrow{
        background-color: transparent;
        border: 0px;
        color: white;
        float: left;
        font-size: 20px;
        padding: 0px;
}

.sign-out-link{
        color: black !important;
}