﻿<div class="main-container">
    <h1 class="heading">
        <span class="first-word">Generation</span>  <br> 
        <span class="second-word">BlockChain</span> </h1>
    <hr class="login-hr">
	<!-- <hr> {{current_user}} -->
	<a href="#/register" class="login-links">Sign up</a>
	<a href="#/" class="login-links active-l">Login</a>
    <form class="form-auth" ng-submit="login()">
        <p class="text-warning">{{error_message}}</p>
        <label for="">Username</label>
        <input type="username" ng-model="user.username" class="form-control login-inputs" required><br>
        <label for="Password">Password</label>
        <input type="password" ng-model="user.password" class="form-control login-inputs" required><br>
        <input type="submit" value="Log in" class="btn btn-primary submit-btn" />
    </form>
</div>